@font-face {
    font-family: 'RoyalInitialen';
    src: url('royalinitialen.eot');
    src: url('royalinitialen.eot?#iefix') format('embedded-opentype'),
         url('royalinitialen.woff') format('woff'),
         url('royalinitialen.ttf') format('truetype'),
         url('royalinitialen.svg#royalinitialen') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ChopinScript';
    src: url('ChopinScript.eot');
    src: url('ChopinScript.eot?#iefix') format('embedded-opentype'),
         url('ChopinScript.woff') format('woff'),
         url('ChopinScript.ttf') format('truetype'),
         url('ChopinScript.svg#ChopinScript') format('svg');
    font-weight: normal;
    font-style: normal;

}

input[type="text"], select, input[type="file"]{
	border: none;
	padding: 16px 12px;
	display: block;
	margin: 0 auto;
	margin-bottom: 12px;
	background: rgba(255, 255, 255, 0.7);
	border-radius: 2px;
	width: 256px;
	color: #666;
	width:280px;
}
#company_checkboxes
{
	border: none;
	padding: 16px 0px;
	display: block;
	margin: 0 auto;
	margin-bottom: 12px;
	background: rgba(255, 255, 255, 0.7);
	border-radius: 2px;
	width: 256px;
	color: #666;
	width:280px;

}

html{
	font-size:100%;
	
}

a{
	text-decoration: none;
	border:none;
	border-style: none;
}
a:-webkit-any-link:active {
	color: inherit;
}

html, body {
	overflow: hidden;
	margin: 0px;
    height: 100%;
    width:100%;
}


#intro{
	height: 100%;
	width: 100%;
	z-index: 10;
	position: absolute;

	left: 0;
	top: 0;
	background-image:url('img/kungenBackBW2.png');
	background-position: center;
	
	transition: opacity 3s;
	
}
#introText{
	
	
	-webkit-text-stroke: 2px rgba(255,255,255,1);
	
	padding-top: 10%;
	text-align: center;
	opacity: 0;
	font-size: 5rem;
	transition: opacity 1s;
}
#introText h1{
	color: #ecbaae !important;
}

.fadeout{
	opacity: 0;
}
.killintro{
	left:110% !important;
}
.initialSize{
	width: 25% !important;
}

img{
	max-width:100%;
}
.divider{
	position: relative;
	width:20%;
	height:100%;
	margin:0px;
	float:left;


}
.activeDivider{
	opacity:1;
}
.inactiveDivider{
	width:20%;
}
.topMargin1{
	display:block;
	width:100%;
	transition:height 1s;
	position:relative;

}
.topMargin{
	display:block;
	width:100%;
	height:25%;
	transition:all 1s;

} 	
#wrapper{
	background-image:url('img/kungenBackBW2.png');
	background-position: center;
	width:100%;
	overflow: hidden;
	height:100%;

}
.header{
	margin-bottom:-5%;
}

.crown{
	opacity:0.5;
	height:initial;
	display:block;
	text-align: center;
	width:200px;
	margin-left:auto;
	margin-right:auto;
  	transition:opacity 1s, margin-top 1s;
}

.divider:hover .crown{
	opacity:1;
}
.active:hover .crown{
	opacity:0;
}
.active .crown{
	opacity:0;
	overflow:hidden;
	margin-top:-187px;
}
.transitionUp {
  height:0%;
  transition:all 1s;
}

.companyLogo{
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	max-width:80%;
	max-width:320px;
	margin:0px;
	padding:0px;
  	transition:margin-top 1s, max-width 1s, margin-left 0.5s;
}
.company{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	margin-top:30px;
}
#border{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	border-bottom:1px solid gray;
	width:50%;
	height:1px;
	margin-top:15px;
}

#cloudNine{
	background-image:url('data:image/svg+xml;charset=US-ASCII,<%3Fxml%20version%3D"1.0"%20encoding%3D"utf-8"%3F><!DOCTYPE%20svg%20PUBLIC%20"-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN"%20"http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd"><svg%20version%3D"1.1"%20id%3D"Layer_1"%20xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"%20xmlns%3Axlink%3D"http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink"%20x%3D"0px"%20y%3D"0px"%20%20width%3D"607.957px"%20height%3D"94.583px"%20viewBox%3D"0%200%20607.957%2094.583"%20enable-background%3D"new%200%200%20607.957%2094.583"%20%20xml%3Aspace%3D"preserve"><g>%20<path%20fill%3D"%23FFFFFF"%20d%3D"M51.336%2C45.897C50.08%2C37.666%2C45.197%2C33.48%2C36.688%2C33.48c-12.695%2C0-16.88%2C12.834-16.88%2C23.436%20%20c0%2C10.463%2C4.046%2C22.739%2C16.459%2C22.739c9.349%2C0%2C14.512-5.72%2C15.766-14.647h19.113C68.494%2C84.12%2C55.521%2C94.583%2C36.408%2C94.583%20%20C14.647%2C94.583%2C0%2C79.238%2C0%2C57.616c0-22.461%2C13.392-39.062%2C36.826-39.062c17.021%2C0%2C32.783%2C8.928%2C33.902%2C27.344H51.336z"%2F>%20<path%20fill%3D"%23FFFFFF"%20d%3D"M78.682%2C1.55L98.49%2C0v92.629H78.682V1.55z"%2F>%20<path%20fill%3D"%23FFFFFF"%20d%3D"M144.945%2C18.554c22.738%2C0%2C37.387%2C15.067%2C37.387%2C38.085c0%2C22.877-14.648%2C37.943-37.387%2C37.943%20%20c-22.599%2C0-37.248-15.066-37.248-37.943C107.697%2C33.621%2C122.347%2C18.554%2C144.945%2C18.554z%20M144.945%2C79.656%20%20c13.533%2C0%2C17.576-11.438%2C17.576-23.017c0-11.58-4.043-23.159-17.576-23.159c-13.393%2C0-17.439%2C11.579-17.439%2C23.159%20%20C127.506%2C68.217%2C131.553%2C79.656%2C144.945%2C79.656z"%2F>%20<path%20fill%3D"%23FFFFFF"%20d%3D"M258.643%2C92.629h-18.834V82.586h-0.417c-5.021%2C8.23-13.673%2C11.996-22.042%2C11.996%20%20c-21.064%2C0-26.365-11.857-26.365-29.713V20.507h19.809v40.736c0%2C11.857%2C3.35%2C17.717%2C12.695%2C17.717%20%20c10.742%2C0%2C15.344-5.999%2C15.344-20.646V20.507h19.811V92.629z"%2F>%20<path%20fill%3D"%23FFFFFF"%20d%3D"M321.002%2C83.422h-0.279c-4.604%2C7.812-12.555%2C11.16-21.902%2C11.16c-21.762%2C0-32.361-18.553-32.361-38.643%20%20c0-19.391%2C10.738-37.386%2C31.945-37.386c8.508%2C0%2C16.879%2C3.627%2C21.342%2C10.742h0.279V1.55L339.834%2C0v92.629h-18.832V83.422z%20%20%20M303.704%2C33.48c-12.976%2C0-17.438%2C11.299-17.438%2C23.018c0%2C11.3%2C5.162%2C23.157%2C17.438%2C23.157c12.974%2C0%2C17.019-11.438%2C17.019-23.297%20%20C320.723%2C44.641%2C316.537%2C33.48%2C303.704%2C33.48z"%2F>%20<path%20fill%3D"%23FFFFFF"%20d%3D"M350.58%2C20.507h18.832v10.044h0.42c5.02-8.23%2C13.67-11.997%2C22.039-11.997%20%20c21.066%2C0%2C26.367%2C11.857%2C26.367%2C29.714v44.361h-19.811V51.895c0-11.857-3.348-17.717-12.693-17.717%20%20c-10.742%2C0-15.346%2C6-15.346%2C20.647v37.805H350.58V20.507z"%2F>%20<path%20fill%3D"%23FFFFFF"%20d%3D"M429.68%2C20.507h19.809v72.123H429.68V20.507z"%2F>%20<path%20fill%3D"%23FFFFFF"%20d%3D"M460.928%2C20.507h18.834v10.044h0.42c5.02-8.23%2C13.67-11.997%2C22.037-11.997%20%20c21.068%2C0%2C26.367%2C11.857%2C26.367%2C29.714v44.361h-19.809V51.895c0-11.857-3.35-17.717-12.695-17.717%20%20c-10.741%2C0-15.346%2C6-15.346%2C20.647v37.805h-19.809V20.507z"%2F>%20<path%20fill%3D"%23FFFFFF"%20d%3D"M555.792%2C61.381c0.558%2C12.695%2C6.556%2C18.274%2C17.716%2C18.274c7.953%2C0%2C14.37-4.882%2C15.626-9.347h17.437%20%20c-5.58%2C17.159-17.437%2C24.273-33.76%2C24.273c-22.738%2C0-36.828-15.623-36.828-37.943c0-21.624%2C14.927-38.085%2C36.828-38.085%20%20c24.555%2C0%2C36.551%2C20.646%2C35.016%2C42.828H555.792z%20M588.018%2C48.827c-1.814-10.045-6.137-15.346-15.766-15.346%20%20c-12.834%2C0-16.041%2C9.766-16.46%2C15.346H588.018z"%2F><%2Fg><%2Fsvg>');
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	height:60px;
	background-repeat:no-repeat;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	margin-bottom:-7px;
}
#c9container{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	background-color: rgba(87,187,231,1);
	transition:background-color 0.5s;
	padding:5px;
	max-width:320px;
}

.back{
	display:none;
}
.mobilestyle{
	position: inherit;
	top: 0;
	padding-bottom: 80px;
	display: block;
	min-height: 95%;
	height: auto;
}
.contentstyle{
	position: inherit !important;
	height: auto !important;
	display: inline-block;
}
h1{
	text-align: center;
	-webkit-font-smoothing: antialiased;
	font-family: 'Sorts Mill Goudy', serif;
	font-weight: normal;
	font-size: 4.5rem;
	font-weight: normal;
	color:rgb(119,79,56);
	margin-bottom: 0px;
	margin-top:0px;
	letter-spacing: -3px;
	-webkit-text-stroke: 2px rgba(119,79,56,0.4)
}


#no4 p{
	margin-top: 2px;
	
}
h3{
	text-align: center;
	font-family: 'Sorts Mill Goudy', serif;
	font-weight: normal;
	font-size: 3rem;
	text-align: center;
	margin-bottom: 0px;
	margin-top:20px;
	transition:inherit;

}

.content p:first-letter{
	font-size:  380%;
	font-family: 'royalinitialen';
	font-weight: normal;
	float:left;
	padding:0px;
	margin-bottom: -10px;

}
.company p:first-letter{
	font-size:100%;
	font-family:'georgia';
	float:none;
	margin-bottom:0px;
}

p{
	padding-left:8%;
	padding-right:8%;
	font-size:1.2rem;
	font-weight: normal;
	font-family: 'Georgia';
	transition:inherit;
	text-align: justify;
	margin-top:4%;
	-webkit-margin-after:0px;
	
}
table{
	width: 80%;
	transition:color 1s, margin-top 1s;
}
td{
	font-size:1.46rem;
	font-weight: normal;
	font-family: 'Georgia';
	transition:inherit;
	margin-top:inherit;
	color:rgba(119,79,56,1);

}
td:nth-child(odd){
	width: 25%;
}
tr{
	margin-bottom: 30px;
	background-color: rgba(255,255,255,0.6);
}
tr:nth-child(even) {
	background-color: rgba(255,255,255,0.3);
}


.content{
	z-index:1;
	color: rgba(119,79,56,1);
	transition:color 1s, margin-top 1s;
	
}
.container{
	min-width: 100%;
	padding-bottom: 50px;
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index: 0;
}

#back1{
	opacity: 0.7;
	background-color: #C5E0DC;
	transition:all 1s;
}
#back2{
	opacity: 0.7;
	background-color: #ECE5CE;
	transition:all 1s;
}
#back3{
	opacity: 0.7;
	background-color: #F1D4AF;
	transition:all 1s;
}
#back4{
	opacity: 0.7;
	background-color: #ecbaae;
	transition:all 1s;
}
#no1:hover #back1{
	opacity:0.95;

}
#no2:hover #back2{
	opacity:0.95;
	
}
#no3:hover #back3{
	opacity:0.95;
	
}
#no4:hover #back4{
	opacity:0.95;
	
}


.container.active {
	opacity: 0.95 !important;
	width:100% !important;

}
table{
	text-align: center;
	margin-left: auto;
	margin-right:auto;
}



.contentHide{
	color: rgba(119,79,56,0);

}
.contentHide table,.contentHide .company{
	opacity: 0;
}
.opacityUp table,.opacityUp .company{
	transition:opacity 0.5s;
	transition-delay: 0.7s;
	opacity: 1;
}
.opacityUp{
	color: rgba(119,79,56,1);
	opacity:1;
	
	transition:all 0.5s;
	transition-delay:0.7s;
	
	margin-top:0;
}

#no1Content{
	text-align: justify;
}

.focustrans{
		-webkit-transition: width 1s; /* For Safari 3.1 to 6.0 */
		transition: width 1s;

}
	
.active{

	width:40% !important;
}
.inactive{
	width: 20% !important;
}
#no2Header{
	text-align: center;
}
#no2Content{
	width:100%;
	margin:auto;
	text-align:justify;
}
#no3Content{
	text-align:center;
}
#no4Content{
	margin-top: 15%;
	text-align:center;
}

#startpage{

	margin-top: 40px;
	z-index: 4;
}
 #nomination{
 	margin-top: 5%;
 	
 	z-index: 5;
 }
 #registration{
 	margin-top: 5%;
 	
 	
 	z-index: 2;
 }
#startpage, #registration, #nomination{
	height: 0;
	opacity: 0;
	text-align: center;
	transition:opacity 1s;
	overflow: hidden;
}
.focus{
	height: 100% !important;
	opacity: 1 !important;
}
.button h2{
	font-size: 2rem;
	padding: 3%;
	margin-top: 3%;
}
.button{
	cursor: pointer;
	background-color: white;
	width: 300px;
	text-align: center;
	color: rgb(119,79,56);
	/*border:2px solid;*/
	border-radius:8px;
	opacity: 0.8;
	margin-left: auto;
	margin-right: auto;

}
.button:hover{
	opacity: 1;
}
.textbox{
	border: 0;
}

@media screen and (max-width:1800px) and (orientation:landscape){
	body{
		overflow: hidden;
	}
	h1{
		font-size:4rem;
	}
	p{
		font-size:0.9rem;
	}
	h3{
		font-size:2.5rem;
	}
	.transitionUpSpecial {
  		height:17%;
	}
	td{
		font-size:1.4rem;
	}
}
@media screen and (max-width:1400px) and (orientation:landscape){
	body{
		overflow: hidden;
	}
	h1{
		font-size:3rem;
	}
	p{
		font-size:0.85rem;
	}
	h3{
		font-size:2rem;
	}
	td{
		font-size:1.3rem;
	}
	.transitionUpSpecial {
  		height:14%;
	}
}

@media screen and (max-width:1000px) and (orientation:landscape){
	body{
		overflow: hidden;
	}
	h1{
		font-size:2.5rem;
	}
	p{
		font-size:0.8rem;
	}
	h3{
		font-size:1.8rem;
	}
		td{
		font-size:1rem;
	}
	.transitionUpSpecial {
  		height:10%;
	}
}


@-moz-document url-prefix() {
    p:first-letter {
        margin-top:-5px;
    }
}

@media all and (orientation: portrait) {


	#wrapper{
		overflow: scroll;
	}
	.divider{
		float:none;
		width: 100% !important;
		transition:all 0s;
		
	}
	.container{
		transition:all 0s;
	}
	.active{
		transition:all 0s;
	}
	.activeDivider{
		transition:all 0s;
	}

	#wrapper{
		background-image:url('img/kungenBackBWPortrait.png');
		background-attachment: fixed;
	}
	.topMargin{
		display:none;
	}
	.topMargin1{
		display:none;
	}
	.content{
		display:inline;
	}
	#no1Header{
		max-width: 750px;
		margin-left:auto;
		margin-right: auto;
	}
	h1{
		margin-top:20px;
	}
	p{
		margin-top:4%;
	}

	#no1{
		height:relative%;
	}
	#no2{
		height:relative;
	}
	#no4{
		height: relative;
		overflow: hidden;
	}
	#back4{
		height: 130%;
	}
	

}
@media all and (orientation: landscape) {
	#no1{
		height:100%;
	}
	#no2{
		height:100%;
	}
}